<script>

</script>
<div class="wrapper">
    <div id="formContent">
        <h2>Оставить комментарий</h2>
        <form name="commentForm">
            <label>
                <h3>Ребенок</h3>
                <select name="x" required>
                    <% for (let i = 0; i < json.length; i++){ %>
                        <option><%= json[i]['name'] %></option>
                    <% } %>
                </select>
            </label>
            <label>
                <h3>Критерий</h3>
                <select name="y" required>
                    <% Object.keys(json[0]).forEach(function (key) { %>
                        <% if(key !== '_id' && key !== '__v' && key !== 'name'){ %>
                            <option><%= key %></option>
                        <% } %>
                    <% }) %>
                </select>
            </label>
            <label>
                <h3>Комментарий</h3>
                <textarea name="comment" required>

                </textarea>
            </label>
            <br>
            <input type="submit" value="Отправить комментарий">
        </form>
    </div>
</div>