<meta charset="UTF-8">
<title><%= title %></title>
<link rel="stylesheet" href="style.css">
<link rel="shortcut icon" href="https://icons-for-free.com/iconfiles/png/512/table-131988545753982590.png" type="image/x-icon">