<div>
    <h1 class="title">"Таблицы"</h1>
    <h2 class="underTitle" >Проект по курсу "Веб-разработка"</h2>
    <dix class="mainDiv">
        <p class="mainContent">
            Этот проект был вдохновлен педагогами детских садов,
            которым не хватает по жизни красивой и удобной таблицы, сделанной под их нужды!</p>
    </dix>
    <br>
    <h2 class="lastTitle">Реализаторы: Яна Рязанова, Артем Гордиенко, Гриша Айдарцян</h2>
</div>
