<nav>
    <div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="">Редактировать</a></li>
            <li><a href="/login">Войти</a></li>
            <li><a href="/register">Зарегистрироваться</a></li>
        </ul>
    </div>
</nav>