<nav>
    <div>
        <ul>
            <li><a href="/">Главная</a></li>
            <%if(!isAuth) {%>
                <li class="rightPlace"><a href="/login">Войти</a></li>
            <%} else {%>
                <li><a href="/table">Таблица</a></li>
                <li><a href="/graphics">Графики</a></li>
                <div class="rightPlace">
                    <li><a href="/profile"><%= name%></a></li>
                    <li><a href="/logout">Выйти</a></li>
                </div>
            <%}%>
        </ul>
    </div>
</nav>