<nav>
    <div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/table">Таблица</a></li>
            <%if(isAuth) {%>
                <li><a href="/login">Войти</a></li>
            <%} else {%>
                <li><a href="/logout">Выйти</a></li>
            <%}%>
        </ul>
    </div>
</nav>