<nav>
    <div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/readTable">Таблица</a></li>
            <li calss="signIn"><a href="/login">Войти</a></li>
        </ul>
    </div>
</nav>