<div>
    <h2>
        Этот проект был вдохновлен педагогами детских садов,
        которым не хватает по жизни красивой и удобной таблицы, сделанной под их нужды!</h2>
    <br>
    <h2>Реализаторы: Яна Рязанова, Артем Гордиенко, Гриша Айдарцян</h2>
</div>
