<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('../partials/head', {title: title});%>
    </head>
    <body>
        <%- include('../partials/navbar', {isAuth: isAuth}); %>
        <%- include('../partials/editor_table/table.ejs', {json: json}); %>

        <div class="wrapper">
            <div id="formContent">
                <h2>Добавить новую колонку</h2>
                <form action="/admin/api/addColumn" method="post">
                    <label>
                        <h3>Название колонки</h3>
                        <br>
                        <input type="text" required name="newColumn">
                    </label>
                    <br>
                    <label>
                        <h3>Значение по-умолчанию</h3>
                        <br>
                        <input type="text" name="defaultValue" required>
                    </label>
                    <br>
                    <input type="submit" value="Добавить">
                </form>
            </div>
        </div>
        <div class="wrapper">
            <div id="formContent">
                <h2>Добавить новую строчку</h2>
                <form action="/admin/api/addRow" method="post">
                    <label>
                        <h3>Имя</h3>
                        <br>
                        <input type="text" required name="newUser">
                    </label>
                    <br>
                    <input type="submit" value="Добавить">
                </form>
            </div>
        </div>
    </body>
</html>