<html>
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="authStyle.css">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <h2 class="active"> Войти </h2>
            <h2 class="inactive register"> Зарегистрироваться </h2>

            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Логин или email">
                <input type="text" id="password" class="fadeIn third" name="login" placeholder="Пароль">
                <input type="submit" class="fadeIn fourth" value="Войти">
            </form>

            <div id="formFooter">
                <a class="register" href="#">Забыли пароль?</a>
            </div>

        </div>
    </div>
</body>
</html>