<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
<body>
    <%- include('../partials/navbar'); %>

    <%- include('../partials/table/table', {json: json}); %>
</body>
</html>