<!DOCTYPE html>
<html lang="ru">
    <%- include('../partials/head', {title: title}); %>
    <body>
        <%- include('../partials/navbar', {isAuth: isAuth, name: name}); %>
        <%- include('../partials/maincontent'); %>
    </body>
</html>