<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('../partials/head', {title: title}); %>
    </head>
    <body>

        <%- include('../partials/navbar', {isAuth: isAuth}); %>

        <%- include('../partials/editor_table/table.ejs', {json: json}); %>

        <script>
            let items = JSON.parse('<%- JSON.stringify(json) %>');
            let keys = [];
            for (let key of document.querySelectorAll('th')) {
                if (key.attributes[0].value === "col") {
                    keys.push(key.innerText);
                }
            }
            document.addEventListener("DOMContentLoaded", () => {
                let selectors = document.querySelectorAll('.selector');
                for (let selector of selectors) {
                    let cellIndex = selector.parentNode.parentNode.cellIndex - 1;
                    let rowIndex = selector.parentNode.parentNode.parentNode.rowIndex - 1;
                    selector.addEventListener('change', function (e) {
                        let logJson = {
                            'value': this.value,
                            'id': items[rowIndex]['_id'],
                            'field': keys[cellIndex]
                        };

                        fetch('/editor/api/update', {
                            method: 'post',
                            headers: {
                                'Accept': 'application/json, text/plain, */*',
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(logJson)
                        })
                            .then(res => res.json())
                            .then(res => console.log(res));
                    })
                }
            })
        </script>
    </body>
</html>