<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
<body>
    <%- include('../partials/navbar', {isAuth: isAuth}); %>
    <img src="https://bipbap.ru/wp-content/uploads/2017/12/3bcf49273613bc88bc79040f08fd422008c52624.jpg">
</body>
</html>