<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include('../partials/head', {title: title}); %>
        <%- include('../partials/navbar', {isAuth: isAuth, name: name}); %>
    </head>
    <body>
        <h2>Имя: <%= name%></h2>
        <h2>Роль: <%= role%></h2>
    </body>
</html>