<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
    <body>
        <%- include('../partials/navbar'); %>
        <%- include('../partials/reader_table/table') %>
    </body>
</html>