<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
    <body>
        <%- include('../partials/navbar', {isAuth: isAuth, name: name}); %>
        <%- include('../partials/reader_table/table') %>
        <%- include('../partials/comments', {json: json}); %>
        <footer>
            <p>© Проект выполнен в экстремальных условиях. Все права защищены.</p>
        </footer>
    </body>
</html>