<!DOCTYPE html>
<html lang="ru">
<head>
    <%- include('../partials/head', {title: title}); %>
</head>
    <body>
        <%- include('../partials/navbar', {isAuth: isAuth}); %>
        <%- include('../partials/reader_table/table') %>
        <%- include('../partials/comments', {json: json}); %>
    </body>
</html>