<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="signupStyle.css">
</head>
<body>
<form action="/signup/" method="post" enctype="multipart/form-data">
    <label>
        Имя
        <input type="text" name="login" required>
    </label>
    <br>
    <label>
        Фамилия
        <input type="text" name="surname" required>
    </label>
    <br>
    <label>
        Почта
        <input type="text" name="surname" required>
    </label>
    <br>
    <label>
        Пароль
        <input type="password" name="surname" required>
    </label>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>