<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="authStyle.css">
    <%- include('../partials/head', {title: title});%>
</head>
<body>
    <%- include('../partials/navbar', {isAuth: isAuth}); %>
    <div class="wrapper fadeInDown">
        <div id="formContent">

            <h2 class="inactive register"><a href="/login">Войти</a></h2>
            <h2 class="active"> Зарегистрироваться </h2>

            <form action="/auth/registration" method="post">
                <input type="text" class="fadeIn second" name="username" placeholder="Логин">
                <input type="password" class="fadeIn third" name="password" placeholder="Пароль">
                <input type="submit" class="fadeIn fourth" value="Зарегистрироваться">
            </form>
        </div>
    </div>
</body>
</html>