<html>
<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="signupStyle.css">
</head>
<body>
<form action="/auth/registration" method="post">
    <label>
        Имя
        <input type="text" name="username" required>
    </label>
    <br>
    <label>
        Пароль
        <input type="password" name="password" required>
    </label>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>