<tr>
    <th scope="row"><%= json[i]['name']%></th>
    <% Object.keys(json[i]).forEach(function (key) {  %>
        <% if(key !== '_id' && key !== '__v' && key !== 'name'){ %>
                <td><%=json[i][key]%></td>
        <% }%>
    <% }) %>
</tr>