body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #39ace7;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #2fa0db;
}
ul li:last-child{
    float: right;
    padding-right: 30px;
}

ui li:first-child{
    padding-left: 30px;
}
html {
    background-color: #fff;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    width: 90%;
    margin: auto;
}
th, td:first-child {
    /*background: #AFCDE7;*/
    color: #1c87bd;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #39ace7;
}
td {
    /*background: #D8E6F3;*/
}
th:first-child, td:first-child {
    text-align: left;
}

caption {
    color: #1c87bd;
    font-size: 30px;
    margin: 20px;
}