body {
    margin: 0;
    padding: 0;
}
h3 {
    padding: 0px;
    margin: 0px;
    color: #1c87bd;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #39ace7;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #2fa0db;
}

ul .rightPlace{
    float: right;
    padding-right: 30px;
}

ui li:first-child{
    padding-left: 30px;
}
html {
    background-color: #fff;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    width: 90%;
    margin: auto;
}
th, td:first-child {
    /*background: #AFCDE7;*/
    color: #1c87bd;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: #39ace7;
}
td {
    /*background: #D8E6F3;*/
}
th:first-child, td:first-child {
    text-align: left;
}

caption, h2{
    color: #1c87bd;
    font-size: 30px;
    margin: 20px;
}


.formInput {
    padding: 10px 20px;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=submit] {
    margin: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.formContent {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

footer {
    background-color: #1c87bd;
    height: 100px;
    text-align: center;
    top: 50%;
}