<tr>
    <th scope="row"><%= json[i]['name']%></th>
    <% Object.keys(json[i]).forEach(function (key) {  %>
        <% if(key !== '_id' && key !== '__v' && key !== 'name'){ %>
        <td><label>
                <select name="list1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
            </label>
        </td>
        <% }%>
    <% }) %>
</tr>