<table>
    <%- include('../editor_table/headers', {json: json})%>
    <%- include('../editor_table/content', {json: json})%>
    <%- include('../editor_table/footer')%>
</table>

<label><button>Отправить</button></label>