<div class="wrapper">
    <div id="formContent">
        <h2>Добавить новую колонку</h2>
        <form action="/admin/api/addColumn" method="post">
            <label>
                <h3>Название колонки</h3>
                <br>
                <input class="formInput" type="text" required name="newColumn">
            </label>
            <br>
            <label>
                <h3>Значение по-умолчанию</h3>
                <br>
                <input class="formInput" type="text" name="defaultValue" required>
            </label>
            <br>
            <input type="submit" value="Добавить">
        </form>
    </div>
</div>